@{
    ViewData["Title"] = "Home Page";
}

</br>
</br>
</br>

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-danger" asp-action="CadastroCliente">Cadastrar cliente</a>
    </div>
    <div class="col-md-10">
        <a class="btn btn-danger" asp-action="ListarCliente">Listar Clientes</a>
    </div>
</div>
